.modal-dialog
  .modal-content
    div.modal-header
      button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
      h4.modal-title Aircraft Information
    div.modal-body
      form(name="aircraftAdd")
        include information