input.search-input.pull-left(type="text", name="search_query", placeholder="Search query", ng-model="filter_value", g4-autofocus)
btn.btn.btn-primary.btn-rght-rounded.btn-search.pull-left
  i.icon-search