.modal-content
  .modal-body
    include ../partials/messages
      h2.text-center Are you sure you wish to close this Road Trip?
    .form-actions
      button.btn.btn-translucent.margin-right(type="button", ng-click="cancel()") Cancel
      button.btn.btn-negative.create-inspection-checkset(type="button", ng-click="deleteRT()") Close Road Trip
