.modal-content
  .modal-body
    include ../partials/messages
      h2.text-center Please close Road Trip first.
    .form-actions
      button.btn.btn-negative.margin-right.padding-left-large.padding-right-large(type="button", ng-click="cancel()") OK
