header.page-header
  h1 {{pageTitle}}

section(ng-controller="HomeCtrl")
  p This app will serve as your starting point for new applicaton development. If you already know what your doing, do the following to start your new project:
  ul
    li Clone this project from its repo. blue red apple
    li Delete the src/app/home, src/app/examples, and src/app/ui_flow modules by deleting their respective directories
    li Update src/index.jade and src/app/app.coffee to remove references to the deleted modules
    li Start coding!

  p If you do not know what you are doing (yet), examing this app to see how to do things.

  h2 Project Breakdown
  ul
    li Home: This description page.
    li Examples: Various examples
    li UI Flow: An end-to-end example of UI flow in a typical app. Styling and layout here is the standard and all projects should be modeled after this.
      p As of 01-15, most of the functionality and flow has been correctly implemented here. Updates will be made as issues pop up.

